# Copy this to .env (DO NOT COMMIT .env)
SECRET_KEY=8ea953cbf03ebdcac8ae3af38ccbbaa6f13fc30504b7cdd41497af842ddc43c1
REDIS_URL=redis://default:AY6qAAIncDE5ZmJhYTkwN2E3ZWY0ZDY3YTcwZjEyY2E4N2IwMjViM3AxMzY1MjI@casual-wildcat-36522.upstash.io:6379
CLOUDINARY_CLOUD_NAME=dv7kljagk
CLOUDINARY_API_KEY=863137649681362
CLOUDINARY_API_SECRET=2T8gWf0H--OH2T55rcYS9qXm9Bg

# Gunicorn tuning
GUNICORN_WORKERS=1
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120